body{
    background-color: black;
    font-family: Arial;
}
.display{
    font-family: Arial;
    color: white;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 5pxS;
}
.number,
.clear{
    border-radius: 60px ;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    font-family: Arial;
    font-size: 26px;
    height: 60px;
    width: 60px;
    padding: auto;
    cursor: pointer;
}
.op{
    color: white;
    cursor: pointer;
    font-family: Arial;
    font-size: 26px;
    height: 60px;
    width: 60px;
    padding: auto;
    border: none;
    border-radius: 60px;
    background-color: rgb(254, 160, 10);
}

.clear{
    font-size: 20px;
}